<h2>Details of {{movie.title}}</h2>

<h4>Genre: {{movie.genre}}</h4>
<p>Plot: {{movie.plot}}</p>
<p>Cast:</p>
{{#each movie.cast}}
    <ul>
        <li>Name: {{this.name}}</li>
        <li>Occupation: {{this.occupation}}</li>
        <li>catch phrase: {{this.catchPhrase}}</li>
    </ul>
{{/each}}

<form action="/movies/{{_id}}/delete" method="POST">
    <button type="submit">Delete movie</button>
</form>