<h2>{{title}}</h2>

<h4>{{genre}}</h4>
<p>{{plot}}</p>
{{#each cast}}
    <ul>
        <li>Name: {{name}}</li>
        <li>Occupation: {{occupation}}</li>
        <li>catch phrase: {{catchPhrase}}</li>
    </ul>
{{/each}}

<form action="/movies/{{_id}}/delete" method="POST">
    <button type="submit">Delete movie</button>
</form>